<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout>
                <LoggerNamePatternSelector defaultPattern="%highlightError{[%d{HH:mm:ss} %level] [%logger{1}]: %minecraftFormatting{%msg}%n%xEx}">
                    <!-- Log root and console logger without logger prefix -->
                    <PatternMatch key=",net.minecrell.serverlistplus.server.ConsoleCommandSender"
                                  pattern="%highlightError{[%d{HH:mm:ss} %level]: %minecraftFormatting{%msg}%n%xEx}"/>
                </LoggerNamePatternSelector>
            </PatternLayout>
        </TerminalConsole>

        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <LoggerNamePatternSelector defaultPattern="[%d{HH:mm:ss}] [%t/%level] [%logger{1}]: %minecraftFormatting{%msg}{strip}%n">
                    <!-- Log root and console logger without logger prefix -->
                    <PatternMatch key=",net.minecrell.serverlistplus.server.ConsoleCommandSender"
                                  pattern="[%d{HH:mm:ss}] [%t/%level]: %minecraftFormatting{%msg}{strip}%n"/>
                </LoggerNamePatternSelector>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
